*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bg-color-white{
    background-color: white;
}
.text-color-red{ 
    color: red;
}
.bg-color-grey{
    background-color: #eee;
}
.second-font{
    font-family: "Amatic SC", sans-serif;
}
.list{
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}
.navbar{
    position: fixed;
    top: 0;
    z-index: 6;
}
.navbar div i{
    font-size: 30px;
}
.navbar .navbar-brand{
    font-size: 30px;
    font-weight: bold;
}
.nav-item{
    font-weight: bold;
    color: #eee !important;
}
.nav-item a{
    font-size: 20px;
    transition: 1s;

}
.nav-item a:hover{
    color: red;
    transform: scale(1.1);

}
.hero{
    /* height: 100vh; */
    background-color: #eee;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hero img{
    width: 500px !important;
}
.hero img:hover{
    animation: move 1s linear 0.1s infinite alternate none;

}
.content-hero h1{
    width: 400px;
    font-size: 70px !important;
    font-weight: bold;
}
.content-hero p{
    color: #4f4f5a;
    font-size: 20px;
    width: 450px;
}
.content-hero button{
    background-color: red;
    padding: 12px;
    border-radius: 0 20px 20px 20px;
    border: none;
    color: white;
    opacity: 0.7;
    width: 200px;
    height: 50px;
}
.content-hero button:hover{
    opacity: 1;

}
.but-watch{
    width: 100%;
}
.content-hero i{
    font-size: 40px;
    margin-left: 10px;
    margin-top: 5px !important;
    background-color: white;
    border-radius: 50%;
}
.content-hero a span{
    font-size: 20px;
 }
.content-hero a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: .5s;
    position: relative;
}
.content-hero a:hover{
    color: red !important;
    transform: scale(1.1deg);
}
.content-hero a:hover .content-hero i{
    color: red !important;
}
/* .content-hero a::before{
    content: "";
    width: 40px;
    height: 40px;
    background-color: rgb(247, 24, 24);
    position: absolute;
    border-radius: 50px;
    left: 2px;
} */
.chefs{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.chefs h2{
    color: #807878;
    font-size: 20px;
}
.chefs .paragraph{
    font-size: 50px !important;
}
.card-text{
    font-style: italic;
}
.card-image{
    position: relative;
    z-index: 5 !important;
    overflow: hidden;
}
.card-image img{
    position: relative;

}
.wave{
    position: absolute;
    bottom: -1px;
    left: 0;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    transition: 0.5s;
    margin: 20px;
    margin: auto;
    width: max-content;
}
.card:hover{
    transform: scale(1.1);
}
.card:hover .card-image .social-media a{
    opacity: 1;
}
.social-media{
    list-style-type: none;
    background-color: transparent;
    width: max-content;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
}
.social-media a{
    color: rgb(19, 18, 18);
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    opacity: 0;
}
.chefs iframe{
    width: 85%;
}


.back-icon{
    background-color: rgb(194, 82, 82);
    border-radius: 500px;
    margin: 20px;
    width: 45px;
    height: 45px;
}
.back-icon i{
    font-size: 20px;
    padding: 13px;
    text-align: center;
}
.card-back{
    background-color: #eee;
    margin: 30px 10px 10px 10px;
    /* padding: 20px; */
    text-align: start;
    width: 100%;
}
.card-back h3{
    color: #807878;
}
.card-back p{
    color: #000000;
    text-align: start;
}
.form{
    background-color: rgb(238, 231, 231);
    box-shadow: 0 0 1.875rem #00000014;
    width: 80%;
    margin-top: 30px;
}
.form input{
    /* width: 93%; */
    height: 60px;
    padding: 10px;
    margin: 10px;
    border:1px solid #948b8b;
    transition: .5s;
}
.input-one{
    width: 100% !important;
}
.input-one input{
    width: 100%;
}
.input-two input{
    width: 98%;
}

.form input:focus{
    outline: none;
    border: 2px solid red !important;
}
.form textarea:focus{
    outline: none;
    border: 2px solid red !important;
}
.form textarea{
    width: 98%;
    height: 90px;
    margin: 10px;
    border:1px solid #948b8b;
    text-indent: 5px;
}
.form .button{
    width: 100px;
    height: 40px;
    border-radius: 100px;
    margin-left: 500px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    
}
.info{
    overflow: hidden;
    position: relative;
}
.info img{
    transition: .5s;
    width: 100%;
    height: 100%;
}
.info .caption{
    position: absolute;
    top: 150%;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.69);
    transition: 0.7s;
    text-align: center;
}
.info .content{
    position: relative;
    top:21% ;
    padding: 10px;

}
.info .content h2{
    font-size: 25px;
    color: white;
}
.info .content p{
    font-size: 15px;
    color: white;
}
.info:hover .caption{
    top: 0;
    left: 0px;
}
.info:hover img{
    transform: scale(1.4);
}
.footer{
    background-color: #201e1e;
    color: white;

}
.par-mealf{
    width: 300px;
}
.footer-first ul li{
    list-style-type:none;
    color: white;
}
.footer-first ul a{
    color: white;
    text-decoration: none;
    
}
.footer-first ul a i{
    color: rgb(253, 4, 4);
    font-size: 22px;

}
.social ul li{
    list-style-type:none;
    color: white;
}
.social ul a{
    color: white;
    text-decoration: none;
}
.footer .social i{
    font-size: 30px !important;
}
.form-footer input{
    width: 60%;
    padding: 5px;
    border: 2px solid #e71313;
    height: 40px;
}
.form-footer button{
    margin-left: 20px;
    width: 30%;
    padding: 5px;
    background-color: #ee2828;
    color: white;
    height: 40px;
}
.list-footer-tail a{
    text-decoration: none;
    color: white;
    margin: 10px;
    
}
.list-footer-tail li{
    list-style-type: none;
}
.list-footer-tail{
    margin-left: 300px;
}
.title-form .form .button{
    margin-top: 10px !important;
}
.two-two{
    margin-top: 30px;
    margin-left: 30px;
}
.list-under-footer ul li a{
    transition: 1s;
}
.list-under-footer ul li a:hover{
    font-size: 20px;

}
.first-footer .meal-footer{
    font-size: 40px;
}

@keyframes move{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform:rotate(2deg);
    }
    50%{
        transform:rotate(-2deg);
    }
    75%{
        transform: rotate(2deg);
    }
    100%{
        transform:rotate(-2deg);
    }
}
@media (min-width:991px) and (max-width:1200px){
.BigScreen{
    width: 100%;
    max-width: 1500px;
    margin: auto;
}
}


@media (min-width:991px) and (max-width:1200px){
    .hero h1 , .hero p{
        margin: auto;
    }
    .hero div img{
        width: 400px !important;
        text-align: center;
    }
    /* .form .button{
        margin-left: 400px;
    } */
    /* .form{
        width: 90%;
    }
    .form input{
        width: 93%; }

    .form textarea{
        width: 93%;


    .input-one{
        width: 100% !important;
    }
    .input-one input{
        width: 100%;
    }
    .input-two input{
        width: 98%;
    }  */

}
@media (min-width:700px) and (max-width:990px){
    .hero div img{
        text-align: center;
    }
    .card{
        margin: 20px auto;
    }
    .image-hero-parent{
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .hero h1{
        text-align: center;
    }
    .hero p{
        text-align: center;
        width: 400px;
        margin: auto;

    }
    .but-watch{
        margin: auto;
        width: max-content;
    }
    .content-hero h1{
        margin-top: 30px !important;
        font-size: 50px !important;
        width: 100%;
    }
    .form .button{
        margin-left: 70px;
    }
    .input-one{
        width: 100%;
    }
    .input-one input{
        width: 100%;
    }
    .input-two input{
        width: 97% !important;
    }
    .form textarea{
        width: 97%;
    }
    .images-meal img{
        width: 90%;
    }




}
@media (min-width:300px) and (max-width:699px){
    .hero div img{
        width: 320px !important;
        margin-top: 20px;
    }
    .image-hero-parent{
        display: flex;
        justify-content: center;
        align-items: center;
     }
    .but-watch{
        margin-left: 50px;
        width: 200px;
        margin: auto;
    }
    .but-watch button{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .content-hero h1{
        margin-top: 40px !important;
        font-size: 60px !important;
        width: 100%;
        text-align: center;
    }
    .content-hero p{
        width: 300px;
        text-align: center;
        margin: auto;
    }
    .chefs img{
        width: 90%;
    }
    .chefs .paragraph{
        font-size: 30px;
    }
    .card-image img{
        width: 100%;
    }
    .card{
        /* margin-left: 20px;
        margin-top: 40px; */
        margin: 20px auto;
    }
    .form-footer{
        width: 100%;
    }
    .form{
        width: 95%;
    }
    .form .button{
        width: 200px;
        margin-left: 70px;
    }
    .input-one{
        width: 100%;
    }
    .input-one input{
        width: 100%;
    }
    .input-two input{
        width: 94% !important;
    }
    .form textarea{
        width: 94%;

    }
    iframe{
        width: 95%;
    }
    .footer-first{
        margin-top: 30px;
    }
    .par-mealf{
        width: 100%;
    }
    .two-two{
        text-align: start;
        margin-left: 0;
    }
    .form-footer{
        margin: 5px;
    }
    .form-footer button{
        width: 100%;
        margin-left: 0;
        padding: 5px;
        margin-top: 5px;
    }
    .form-footer input{
        width: 100%;
    }
    .footer .three-three h3{
        margin-left: 0 !important;
    }
    /* .footer .three-three h3{
        margin-left: 0 !important;
    } */
    .images-meal img{
        width: 95%;
    }


}
